la-customer-post/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Scope": {
                "type": "Scope",
                "actions": {
                    "Send_message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "backbase-demo-queue",
                                "message": {
                                    "contentData": "@triggerBody()",
                                    "contentType": "application/json",
                                    "messageId": "@variables('customerID')"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        }
                    },
                    "Response_Success": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "customerId": "@variables('customerId')"
                            }
                        },
                        "runAfter": {
                            "Send_message": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_CustomerID": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_CustomerID": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "customerID",
                            "type": "string",
                            "value": "@{guid()}"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Response_Error": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 500
                },
                "runAfter": {
                    "Scope": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "customerName": {
                                "type": "string"
                            },
                            "customerEmail": {
                                "type": "string"
                            },
                            "customerCity": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateless"
}